# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment Variables
.env

# Byte-compiled / optimized / DLL files
*.egg-info/
dist/
build/
*.egg

# Coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Miscellaneous
*.DS_Store
*.bak
*.tmp