{% extends "base.html" %}

{% block form %}
<div class="flex flex-col flex-1 w-full">
    <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                {% if member %}
                {{ member.name }} ✍️🙋
                {% else %}
                Add New Member 🆕🙋
                {% endif %}
            </h2>
            <!-- Start of the form -->
            <form action="{{ url_for('members.add_member') if not member else url_for('members.edit_member', id=member._id) }}"
                method="POST">
                <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                    {{ form.csrf_token }}
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Name</span>
                        {{ form.name(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700
                        focus:border-black-400 focus:outline-none focus:shadow-outline-black dark:text-gray-300
                        dark:focus:shadow-outline-gray form-input", placeholder="Member Name", value=member.name if member
                        else '') }}
                    </label>

                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Email</span>
                        {{ form.email(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700
                        focus:border-black-400 focus:outline-none focus:shadow-outline-black dark:text-gray-300
                        dark:focus:shadow-outline-gray form-input", placeholder="Email Address", value=member.email if member
                        else '') }}
                    </label>

                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Address</span>
                        {{ form.address(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700
                        focus:border-black-400 focus:outline-none focus:shadow-outline-black dark:text-gray-300
                        dark:focus:shadow-outline-gray form-input", placeholder="Address", value=member.address if member
                        else '') }}
                    </label>

                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Phone</span>
                        {{ form.phone(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700
                        focus:border-black-400 focus:outline-none focus:shadow-outline-black dark:text-gray-300
                        dark:focus:shadow-outline-gray form-input", placeholder="Phone Number", value=member.phone if member
                        else '') }}
                    </label>
                    <div class="flex mt-6">
                        <button type="submit"
                            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-black hover:bg-gray-800 focus:outline-none focus:shadow-outline-black">
                            {% if member %} Update Member {% else %} Add New Member {% endif %}
                        </button>
                        <button type="button"
                            class="ml-4 px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 bg-gray-200 border border-transparent rounded-lg active:bg-gray-300 hover:bg-gray-300 focus:outline-none focus:shadow-outline-gray"
                            onclick="window.history.back();">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <!-- End of the form -->
        </div>
    </main>
</div>
{% endblock %}